{% extends "layout.html" %}

{% block title %}
    Admin Functions
{% endblock %}

{% block main %}
<h2>Admin Functions</h2>
<div class="container mt-3">
    <div class="card text-center mb-3">
        <div class="card-body">
            <h5 class="card-title">Manage Teachers</h5>
            <p class="card-text">Add, edit, or remove teachers from the system.</p>
            <a href="/admin/teachers" class="btn btn-dark">Teachers</a>
        </div>
    </div>
    <div class="card text-center mb-3">
        <div class="card-body">
            <h5 class="card-title">Manage Students</h5>
            <p class="card-text">Add, edit, or remove students' information and enrollments.</p>
            <a href="/admin/students" class="btn btn-dark">Students</a>
        </div>
    </div>
    <div class="card text-center mb-3">
        <div class="card-body">
            <h5 class="card-title">Manage Courses</h5>
            <p class="card-text">Create, edit, or delete courses, and assign teachers and schedules.</p>
            <a href="/admin/courses" class="btn btn-dark">Courses</a>
        </div>
    </div>
</div>
{% endblock %}
