{% extends "layout.html" %}

{% block title %}
    Teacher's Profile
{% endblock %}

{% block main %}
<div class="narrow-form">
    <form action="/admin/teachers_edit/{{ user.user_id }}" method="post">
        <div class="mb-3">
            <label for="user_id" class="form-label">ID</label>
            <input class="form-control" id="name" name="user_id" type="text" required value="{{ user.user_id }}">
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input class="form-control" id="name" name="name" placeholder="Teacher's Name" type="text" value="{{ user.name or placeholder }}">
        </div>
        <div class="mb-3">
            <label for="mail" class="form-label">Email Address</label>
            <input class="form-control" id="mail" name="mail" placeholder="Teacher's Email" type="email" value="{{ user.mail or placeholder }}">
        </div>
        <div class="mb-3">
            <label for="phone" class="form-label">Phone Number</label>
            <input class="form-control" id="phone" name="phone" placeholder="Teacher's Phone Number" type="text" value="{{ user.phone or placeholder }}">
        </div>
        <div class="mb-3">
        <button class="btn btn-dark" type="submit">Update Teacher's Profile</button>
        </div>
    </form>
    <div class="mb-3">
        <form action="/admin/delete/{{ user.user_id }}" method="post" onsubmit="return confirm('Are you sure you want to delete this teacher?');">
            <input type="hidden" name="item_id" value="{{ user.user_id }}">
            <button type="submit" class="btn btn-danger">Delete Teacher</button>
        </form>
    </div>
</div>
{% endblock %}
