{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
<div class="narrow-form">
    <form action="/password_change" method="post">
        <div class="mb-3">
            <label for="current_password" class="form-label">Current Password</label>
            <input autocomplete="off" autofocus class="form-control" id="current_password" name="current_password" placeholder="Current Password" type="password" required>
        </div>
        <div class="mb-3">
            <label for="new_password" class="form-label">New Password</label>
            <input class="form-control" id="new_password" name="new_password" placeholder="New Password" type="password" required>
        </div>
        <div class="mb-3">
            <label for="confirmation" class="form-label">Confirm New Password</label>
            <input class="form-control" id="confirmation" name="confirmation" placeholder="Confirm New Password" type="password" required>
        </div>
        <button class="btn btn-dark" type="submit">Change Password</button>
    </form>
</div>
{% endblock %}
