{% extends "layout.html" %}

{% block title %}
    User Profile
{% endblock %}

{% block main %}
<div class="narrow-form">
    <form action="/user" method="post">
        <div class="mb-3">
            <label for="user_id" class="form-label">ID</label>
            <input class="form-control" id="name" name="user_id" type="text" readonly value="{{ user.user_id }}">
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input class="form-control" id="name" name="name" placeholder="Your Name" type="text" required value="{{ user.name or placeholder }}">
        </div>
        <div class="mb-3">
            <label for="mail" class="form-label">Email Address</label>
            <input class="form-control" id="mail" name="mail" placeholder="Your Email" type="email" required value="{{ user.mail or placeholder }}">
        </div>
        <div class="mb-3">
            <label for="phone" class="form-label">Phone Number</label>
            <input class="form-control" id="phone" name="phone" placeholder="Your Phone Number" type="text" required value="{{ user.phone or placeholder }}">
        </div>
        <button class="btn btn-dark" type="submit">Update Profile</button>
    </form>
</div>
{% endblock %}
